.containerProducts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4%;
} 
.products {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1400px; 
    overflow: hidden;
}
.containerItemProduct {
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #f7f7f7; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 14rem;
    cursor: pointer;
    text-decoration: none;
    color: #2e2e2e;
}
.imageProducts {
    width: 12rem;
    height: 8rem;
    border-radius: 10px;

} 
.before{
    color: #ba0000;
    text-decoration: line-through;
}
.containerItemProduct:hover {
    background-color: #f0f0f0; 

}

@media (min-width: 320px) and (max-width: 700px) {
    .containerItemProduct {
        width: 6rem;
    }
    .imageProducts {
        width: 6rem;
        height: 6rem;
    }
    .containerPrice{
        font-size: 0.8rem;
    }
    .containerItemProduct h1 {
        font-size: 1rem;
    }
}
@media (min-width: 700px) and (max-width: 800px) {
    .containerItemProduct {
        width: 8rem;
    }
    .imageProducts {
        width: 7rem;
        height: 7rem;
    }
    .containerItemProduct h1 {
        font-size: 1.5rem;
    }
}