.containerDropDown {
    padding-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dropDown {
    padding: 0 10%;
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    display: none;
    color: rgb(37, 37, 37);
}
.containerItems {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    cursor: pointer;
}
.item {
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 3rem;
    flex-grow: 1;
    display: flex;
    text-decoration: none;
    color: #ffffff;
    padding-left: 8%;
    justify-content: flex-start;
}
.item:hover {
    background-color: rgb(60, 60, 60);
}

.containerItems {
    background-color: rgb(39, 39, 39);
    border-radius: 4px;
    display: none;
    gap: 5px;
}
.containerItems.isOpen {
    display: flex; 
    z-index: 1000;
    position: absolute;
    top: 110px;
} 
.dropDown {
    display: block;
}

@media (min-width: 320px) and (max-width: 900px) {
    .containerItems.isOpen{
        top: 90px;
    }
    .containerItems{
        width: 240px;
    }
}