.container-search{
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 26%;
}
.input-search{
    height: 28px;
    border: none;
    width: 100%;
}
.button-input{
    height: 28px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.input-search:focus{
    border: none;
    outline: none;
}

